langchain
grandalf
langchain-core

langchain-openai
openai

langchain-anthropic
langchain-groq
langchain-classic 

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub

pydantic
pydantic[email]

python-dotenv

numpy
scikit-learn
pytorch